.modtelegram-hidden {
	display: none!important;
}
.modtelegram-active {
	display: block!important;
}


.modtelegram-helper-button {
	width: auto;
	display: block;
	position: fixed;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	background-color: #0088cc;
	z-index: 9999;
}


.modtelegram-helper-button.modtelegram-lt {
	top: 0;
	left: 0;
}
.modtelegram-helper-button.modtelegram-lb {
	bottom: 0;
	left: 0;
}
.modtelegram-helper-button.modtelegram-rt {
	top: 0;
	right: 0;
}
.modtelegram-helper-button.modtelegram-rb {
	bottom: 0;
	right: 0;
}



.modtelegram-helper-chat {
	width: 350px;
	height: 350px;
	display: block;
	position: fixed;
	background-color: #0088cc;
	border: 1px solid #E4E4E4;
	z-index: 9999;
}

.modtelegram-helper-chat.modtelegram-lt {
	top: 0;
	left: 0;
}
.modtelegram-helper-chat.modtelegram-lb {
	bottom: 0;
	left: 0;
}
.modtelegram-helper-chat.modtelegram-rt {
	top: 0;
	right: 0;
}
.modtelegram-helper-chat.modtelegram-rb {
	bottom: 0;
	right: 0;
}

.modtelegram-helper-chat-header {
	text-align: center;
	color: #fff;
	padding: 10px;
}

.modtelegram-helper-chat .modtelegram-helper-close {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #000;
	cursor: pointer;
	padding: 5px;
}

.modtelegram-helper-chat-welcome {
	height: 100%;
	padding: 10px;
	text-align: center;
	color: #0088cc;
	background-color: #fff;
}

.modtelegram-helper-chat-body {
	height: 70%;
	background-color: #fff;
	overflow-y: scroll;
}

.modtelegram-helper-chat-footer {
	text-align: center;
	color: #fff;
	padding: 10px;
	font-size: 12px;
}


.modtelegram-helper-message {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	width: 80%;
	font-size: 10pt;
	box-shadow: 1px 1px 1px 1px #ccc;
}
.modtelegram-helper-message-header {
	font-size: 8pt;
	color: #ccc;
}
.modtelegram-helper-message-footer {
	font-size: 8pt;
}

.modtelegram-helper-message.modtelegram-from-user {
	float: left;
}
.modtelegram-helper-message.modtelegram-from-manager {
	float: right;
}


.modtelegram-helper-chat-input {
	width: 100%;
	position: absolute;
	bottom: 10%;
}

.modtelegram-helper-chat-input textarea {
	width: 100%;
}

